<div class="section" data-section-name="cast">
  <div class="census-main">
    <div class = "ajax_paginate">
      <%= render 'cast_opinion' %>
    </div>
  </div>
</div>

<div class="section" data-section-name="feed">
  <div class="census-main">
    <div class = "ajax_paginate_ended">
      <%= render 'feed' %>
    </div>
  </div>
</div>
