<div id="fullpage">
  <div class="section">

  <div class = "ajax_paginate">
    <%= render 'cast_opinion' %>
  </div>
  </div>
  <div class="section">
<div class="ajax_paginate_ended">
  <%= render 'feed' %>
</div>
</div>
</div>
