@import "foundation";

@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
}

@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
}

@font-face {
  font-family: 'OpenSans';
  src: url('<%= asset_path("Rockwell.ttf") %>');
  font-weight: bold;
  font-style: normal;
}

main {
  @include twelve-columns;
  background-color: #288fb4;
}

section {
  @extend .row;
  margin-top: 20px;
  background-color: #288fb4;
}

.primary {
  padding: 15px;
}

.flex-container {
  display:                 flex;
  flex-flow:           row wrap;
  justify-content: space-around;
  margin-left:             auto;
  margin-right:            auto;
}

.cast_census {
  background:           #d9d9d9;
  flex-flow:           row wrap;
  display:                 flex;
  width:                   100%;
  border-radius:           10px;
  margin-left:             auto;
  margin-right:            auto;
}

.cast_census.left {
  width: 60%;
  left: 0px;
}

.cast_census.right {
  width: 40%;
}

.cast_census.description {
  width:   100%;
  padding: 10px;
}

.cast_census.option {
  padding-left:  20px;
  padding-right: 20px;
}

.cast_census.chart {
  padding-left:  20px;
  padding-right: 20px;
}

.cast_census.submit {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: auto;
}

.cast_census.time {
  width:         100%;
  text-align:  center;
  display:inline-block;
  position:relative;

}

.feed {
  background:   #d9d9d9;
  width:            65%;
  border-radius:   10px;
  padding:         10px;
  margin-top:      20px;
}

.related.to {
  background:   #d9d9d9;
  width:            30%;
  border-radius:   10px;
  padding:         10px;
  margin-top:      20px;
  max-width:      200px;
}

.panel {
  background:  #d9d9d9;
  margin-top:     30px;
  width:         300px;
  padding-bottom:  75%;
}

.top-bar {
  background: #1d556f;
  width:         100%;
  margin-bottom:    0;
  height:        90px;
  position:  relative;
}

.top-bar .name {
  font-size:   rem-calc(13);
  line-height: 70px;
}

.top-bar .name a {
  font-weight: normal;
  color:        white;
  padding:     0 15px;
}

.top-bar-section ul a:not(.button) {
  background: #1d556f !important;
  color:                   white;
  height:          rem-calc(100);
  width:           rem-calc(120);
  display:            table-cell;
  text-align:             center;
  vertical-align:         middle;
}

.column {
  @include six-columns-centered;
}

.form {
  @include grid-column(6);
}

.form-centered {
  @include six-columns-centered;
}

.submit {
  @extend .button;
  @extend .radius;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.authform form {
  @include panel();
  padding-bottom: 60px;
}

.authform form a {
  font-size: rem-calc(13);
}

.authform form p {
  font-size: rem-calc(13);
}

.authform fieldset {
  @include panel();
}

.authform #error_explanation:not(:empty) {
  @extend .alert-box;
  @extend .alert;
}

.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}

.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}
