@import "foundation";

@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
}

@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
}

@font-face {
  font-family: "VarelaRound-Regular";
  src: url(/assets/VarelaRound-Regular);
}

@font-face {
  font-family: "timeburnerbold";
  src: url(/assets/timeburnerbold);
}

main {
  @include twelve-columns;
  background-color: #03182d;
}

main h1 {
  color: #2a7ab9;
  text-align: center;
  margin-top: 10px;
}

main label {
  color: #539dcc;
}

.flex-container {
  display:                 flex;
  flex-flow:           row wrap;
  justify-content: space-around;
  margin-left:             auto;
  margin-right:            auto;
}

.section {
  text-align:     center;
  width:             90%;
  height: 100vh;
  position:     relative;
  border-bottom:     0px;
  border-radius:    10px;
  margin-left:      auto;
  margin-right:     auto;
}

.cast_census {
  background:    #dae8f5;
  border-radius:    10px;
  height:            80%;
  width: 264px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.cast_census_description_container {
  height:    10vh;
  width:    100%;
  display: table;
}

.cast_census_description {
  display: table-cell;
  vertical-align: middle;
  color:       #03182d;
  font-weight:    bold;
  text-align:   center;
  padding-top:    10px;
  padding-right:   4px;
  padding-left:    4px;
  margin-bottom:   4px;
  font-size:      18px;
  line-height:    23px;
}

.cast_census_option {
  text-align:   center;
  width: 100%;
  height: 20vh;
}

.chart {
  position:  relative;
  padding-left:  auto;
  padding-right: auto;
  z-index:          0;
}

.cast_census_time {
  width:         100%;
  height: 10%;
  text-align:  center;
  font-size:     12px;
  margin-bottom: -5px;
}

.cast_census_submit {
  display:       table-cell;
  text-align:        center;
  vertical-align:    middle;
}

.top-bar {
  background: #0b559f;
  width:         100%;
  margin-bottom:    0;
  height:        50px;
  position:  relative;
}

.top-bar .name {
  line-height:         70px;
}

.top-bar .name a {
  font-weight: normal;
  color:        white;

}

.top-bar-section ul a:not(.button) {
  background: #0b559f !important;
  color:                 #eaf9ff;
  height:           rem-calc(75);
  width:           rem-calc(120);
  font-size:        rem-calc(20);
  display:            table-cell;
  text-align:             center;
  vertical-align:         middle;
  white-space:            nowrap;
}

.top-bar-section ul a:not(.button):hover {
  background: #2a7ab9 !important;
}

.top-bar-section .dropdown li {
  background: #103549 !important;
  display:       table;
  text-align:        center !important;
  vertical-align:    middle;
}

.top-bar-section .has-dropdown > a:after {
    border-style: none;
}

.alert-box {
  position: relative;
  margin-top: 200px;
}

.top {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
}

.column {
  @include six-columns-centered;
}

.form {
  @include grid-column(6);
}

.form-centered {
  @include six-columns-centered;
}

.pagination {
  position: relative;
  text-align: center;
  margin-top: -8px;
  padding-bottom: 7px;
  z-index: 1;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.authform form {
  @include panel();
  padding-bottom: 60px;
  background-color: #539dcc;
  border-color: transparent;
}

.authform form a {
  font-size: rem-calc(13);
  color: #dae8f5;
}

.authform form p {
  font-size: rem-calc(13);
}

.authform form label {
  color: #03182d;
}

.authform form h3 {
  color: #03182d;
}

.authform fieldset {
  @include panel();
}

.authform #error_explanation:not(:empty) {
  @extend .alert-box;
  @extend .alert;
}

.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}

.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}

.button-large {
  @extend .button;
  @extend .radius;
  background-color: #0b559f;
}

.button_center {
  text-align: center;
}

.submit {
  $full-width: false;
}

.container{
  display: block;
  position: absolute;
  margin: auto;
  height: 900px;
  width: 400px;
  bottom: 0; left:0; right: 0; top:0;
  padding: 0;
}

h2 {
	color: #AAAAAA;
	font-weight: normal;
}

.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li{
  color: red;
  display: block;
  width: 100%;
}

form ul li{
  color: red;
  display: block;
  width: 100%;
  padding-right: 11px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  text-align:             center;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 26px;
  line-height: 18px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #0b559f;
}

.radio label{
    font-weight: bold;
    color: #539dcc;
}

.highlightBackground {
    background-color: #bad6ea;
}

.filler {
  position:     absolute;
  top:                 0;
  height: $topbar-height;
}

.feed {
  background:    #f5f4e4;
  border-radius:    10px;
  height:            80%;
  width: 264px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.feed_header_container {
  width: 100%;
  height: 40px;
}

.feed_header {
  text-align: center;
  vertical-align: middle;
  width: 70%;
  height: 85%;
  background: #0b559f;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 1px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.feed_description {
  width:          100%;
  color:       #03182d;
  font-weight:    bold;
  text-align:     left;
  padding-top:     6px;
  padding-right:   9px;
  padding-left:    9px;
  margin-bottom:   8px;
  font-size:      18px;
  line-height:    23px;
}

.feed_details {
  text-align:   left;
  width: 100%;
  font-size: 14px;
  padding-left:    9px;
  margin-top: 10px;
}

.feed_pagination {
  margin-top: 15px;
}

.feed_chart {
  position:  relative;
  text-align: center;
  width: 100%;
  margin-top:  -4px;
  z-index:          0;
}

.feed_comment_container {
  display: inline-block;
}

.feed_comment_field {
  width: 40%;
}

.feed_comment_container_button {
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.button.postfix {
  background: #0b559f;
}

.button.postfix input {
  font-size: 14px;
  border: none;
  padding: none;
  background: none;
  color:                 #eaf9ff;

}

.feed_comment_container_button input {
  text-align: right;
  display: inline-block;
}

.feed_time {
  width:         100%;
  text-align:  center;
  font-size:     12px;
  margin-top:   -30px;
  margin-bottom: -5px;
}

.feed_submit {
  display:       table-cell;
  text-align:        center;
  vertical-align:    middle;
}
