<div class="sticky">

<nav class="top-bar" data-topbar>
  <div class="top-bar-section" style="border-right:1px #d9d9d9 solid;">
    <ul class="left">
      <li><%= link_to 'CrowdCensus', censuses_path %></li>
    </ul>
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'Log Out', destroy_user_session_path,
          :method=>'delete' %></li>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

</div>
